@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@300&display=swa");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
.App {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.recipeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.recipe {
  margin: 2vh 0 2vh 0;
  background-color: black;
}
h1 {
  word-wrap: normal;
}

.card {
  max-width: 50vh;
  min-width: 0;
  background-color: rgb(46, 40, 40);
}
.input {
  width: 50vw;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: 2px solid rgb(17, 70, 216);
}
.searchBtn {
  width: 10vw;
}
.background {
  height: 80vh;
  min-width: 100%;
  /* background-image: url("./background.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(45deg, #2dfff5, rgb(103, 255, 15));
  font-family: "Orbitron", sans-serif;
}
.logo {
  height: 15vh;
  width: 20vw;
  animation: 2s ease infinite logo-spin;
}
.findMeOn {
  width: 100%;
  padding: 2vh 0 2vh 0;
  background-color: rgb(31, 192, 255);
  font-family: "Poppins", sans-serif;
  text-align: center;
}
a {
  text-emphasis: bold;
  text-decoration: none;
}
.fa-github {
  margin-left: 4px;
}
header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: auto;
  min-height: 80%;
  min-width: 100%;
  color: rgb(0, 0, 0);
}

.searchField {
  display: flex;
  min-width: 100%;
  /* justify-content: center; */
  margin: auto;
  align-content: center;
  margin: 4vh 0% 0% 5%;
}
.backgroundBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  margin: 3vh 2vw 3vh 2vw;
  flex-wrap: wrap-reverse;
}
.media {
  height: 60px;
  width: 60px;
}
.share {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share-icon {
  margin-left: 2vw;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .input {
    width: 70vw;
  }
  .share {
    text-align: center;
  }
  .background {
    height: 70vh;
  }
  .trending {
    text-align: center;
  }
  .logo {
    height: 12vw;
    width: 25vw;
  }
  span {
    display: none;
  }
}
